<div class="vertical-container">
  <h2 mat-dialog-title>View existing appointment</h2>
  <form class="vertical-form" [formGroup]="appointmentForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>JMBG</mat-label>
      <input matInput formControlName="jmbg" />
    </mat-form-field>
    <div class="horizontal-container">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!appointmentForm.valid"
          class="w-100 mr-2"
          (click)="submit()"
        >
          Submit
        </button>
        <button
          mat-stroked-button
          color="primary"
          (click)="close()"
          class="w-100"
        >
          Cancel
        </button>
    </div>
  </form>
</div>
